html, * {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
  
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #777; /* Optional for hover effect */
}


body{
  background-color: #F5F5F5;
}
.nav-bar {
  background-color: white;
  color: black;
  padding: 10px 20px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(1, 1, 1, 0.3);

}

.left-nav-bar, .right-nav-bar {
  display: flex;
  align-items: center;
 
}

.right-nav-bar p {
  margin: 0 15px;
  white-space: nowrap;
  cursor: pointer;
  padding-right: 20px;
}

.left-nav-bar p {
  margin: 0;
  white-space: nowrap;
  font-weight: bold;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

@media screen and (max-width: 650px) {
  .hamburger-menu {
    display: block;
  }

  .right-nav-bar {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    border: 1px solid rgb(179, 178, 178);
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
  }

  .right-nav-bar.open {
    display: flex;
  }
}


.bio-container{
  text-align: center;
  align-items: center;
  padding-top: 50px;
}

.intro-words{
  padding: 20px; 
  margin: 20px auto; 
  text-align: center; 
  font-weight: 300;
  max-width: 600px; 
  font-size: 20px; 
  line-height: 1.5; 
  margin-bottom: 200px;
 
  
}

.company-exp {
  padding: 20px; 
  margin: 20px auto; 
  text-align: left; 
  border: 1px solid #ccc; 
  border-radius: 30px;
  max-width: 400px; 
  font-size: 16px; 
  line-height: 1.5; 
  box-shadow: 0 4px 8px rgba(1, 1, 1, 0.3); 
  display: flex;
  margin-bottom: 100px;
}

.company-exp h3,
.company-exp p {
  margin-left: 30px;
}


.company-exp h3 {
  font-weight: 500; /* Bold for the name/title */
  margin-bottom: 10px; /* Space between elements */
}

.company-exp .company-title {
  font-weight: 450; /* Slightly less bold for the title */
}

.company-exp .company-location {
  font-weight: 300; /* Normal weight for location */
  color: black; /* Optional: Adjust text color */
}

.company-exp .company-dates {
  font-weight: 400; /* Lightest weight for dates */
  color: #777; /* Optional: Muted text color */
  font-size: 14px; /* Smaller size for dates */
}

.experience-heading{
  text-align: center;
  align-items: center;
  font-weight: 400;
  padding-bottom: 5%;
}

.skills-heading{
  text-align: center;
  align-items: center;
  font-weight: 400;
  padding-bottom: 5%;
}



.company-name {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0;
}

.company-img{
  height: 40px;
  width: 40px;
  flex-shrink: 0;
}

.skill-box{
  background-color: #ffffff;
  text-align: center;
  padding: 8px;
  max-width: 90px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(1, 1, 1, 0.3); 
}

.skills-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 4 boxes per row on large screens */
  gap: 20px; /* Space between boxes */
  padding: 20px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .skills-container {
    grid-template-columns: repeat(3, 1fr); /* 3 boxes per row */
  }
}

@media (max-width: 480px) {
  .skills-container {
    grid-template-columns: repeat(2, 1fr); /* 2 boxes per row */
  }
}